{% extends 'rec/base.html' %}
{% load static %}

{% block title %}Applications for {{ student.name }} - Recruitment Management System{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card bg-dark text-white">
        <div class="card-header bg-primary">
            <h1 class="text-center">Applications for {{ student.name }}</h1>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for application in applications %}
                <li class="list-group-item bg-dark text-white">
                    Applied to {{ application.drive.company_name }} - {{ application.drive.job_role }} on {{ application.applied_at }}
                </li>
                {% empty %}
                <li class="list-group-item bg-dark text-white">
                    No applications found.
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-footer bg-dark">
            <a href="{% url 'facilitator_dashboard' %}" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>
{% endblock %}
